<aside>

	<section class="list-group">
		<a class="list-group-item list-group-item-action {{'active' if page.slug === '.'}}" href="/">🏠 Home</a>
		<a class="list-group-item list-group-item-action {{'active' if page.slug === 'api'}}" href="/docs/api">API Docs</a>
		<a class="list-group-item list-group-item-action {{'active' if page.slug === 'blog'}}" href="/docs/blog">Blog</a>
		<a class="list-group-item list-group-item-action {{'active' if page.slug === 'sitemap'}}" href="/docs/sitemap">sitemap.xml</a>
		<a class="list-group-item list-group-item-action {{'active' if page.slug === 'rss'}}" href="/docs/rss">RSS feed</a>
		<a class="list-group-item list-group-item-action {{'active' if page.slug === 'deploy-to-caddy'}}" href="/docs/deploy-to-caddy">Deploy to Caddy Server</a>
	</section>

	<section class="github text-center">
		<a href="https://github.com/sphido/sphido" class="btn btn-lg btn-success" target="_blank">
			<img src="/img/github-white.svg" fill="#fff" width="18px" style="vertical-align: -.1em" alt="Github logo"> Source Code
		</a>
	</section>
</aside>