body {
	background: #faffe7;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
}

body.index h1 {
	text-align: center;
	margin-bottom: 3vh;
}

body.index pre code {
	padding: 2em;
	font-size: 1.3em;
}

footer > p {
	margin-bottom: 0;
}