<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
	{% include "theme/partials/head.html" %}
	<title>{{ page.title | trim }} | Sphido</title>
</head>
<body>

<header>{% include "theme/partials/navbar.html" %}</header>

<div class="container">
	<div class="row">

		<aside class="col-sm-4 col-md-4 col-lg-3 mb-5 order-sm-first order-md-last">
			<nav class="list-group my-4">
				<a href="/docs" class="list-group-item list-group-item-action {{'active' if page.slug === '.'}}">Docs</a>
				<a href="/docs/blog" class="list-group-item list-group-item-action {{'active' if page.slug === 'blog'}}">Blog</a>
				<a href="/docs/theme" class="list-group-item list-group-item-action {{'active' if page.slug === 'theme'}}">Theme</a>
				<a href="/docs/extenders" class="list-group-item list-group-item-action {{'active' if page.slug === 'extenders'}}">Extenders</a>
			</nav>
		</aside>

		<div class="col-sm-8 col-md-8 col-lg-9">
			<main class="my-5">{{ page.content | trim | safe }}</main>
		</div>

	</div>
</div>

</body>
</html>