<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
	{% include "theme/partials/head.html" %}
	<title>{{ page.title | trim }} | Sphido</title>
</head>
<body>

<header>{% include "theme/partials/navbar.html" %}</header>

<div class="container">
	<div class="row">

		<aside class="col-sm-4 col-md-4 col-lg-3 my-lg-5 my-3 order-sm-first order-md-last">
			<h2 class="text-center">
				<a href="/docs" class="text-dark">Sphido|docs</a>
			</h2>
			<nav class="list-group my-4">
				<a href="/docs" class="list-group-item list-group-item-action {{'active' if page.slug === '.'}}">API</a>
				<a href="/docs/blog" class="list-group-item list-group-item-action {{'active' if page.slug === 'blog'}}">Blog</a>
				<a href="/docs/github" class="list-group-item list-group-item-action {{'active' if page.slug === 'github'}}">Deploy from GitHub</a>
				<a href="/docs/sitemap" class="list-group-item list-group-item-action {{'active' if page.slug === 'sitemap'}}">sitemap.xml</a>
				<a href="/docs/theme" class="list-group-item list-group-item-action {{'active' if page.slug === 'theme'}}">Theme</a>
				<a href="/docs/extenders" class="list-group-item list-group-item-action {{'active' if page.slug === 'extenders'}}">Extenders</a>
			</nav>
			<div class="text-center">
				<a href="https://github.com/sphido/sphido" target="_blank">
					<img src="/img/github.svg" alt="" width="80px">
				</a>
			</div>
		</aside>

		<div class="col-sm-8 col-md-8 col-lg-9">
			<main class="my-5">{{ page.content | trim | safe }}</main>
		</div>
	</div>
</div>

<footer class="bg-dark mt-5 p-5 text-center text-muted">
	<a href="https://github.com/sphido/sphido.org/tree/master/{{page.dir}}/{{page.base}}{{page.ext}}" target="_blank" class="text-muted">View page source</a>
</footer>


</body>
</html>