
body {
	display: grid;
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	grid-template-areas: "header header" "aside main" "footer footer";
	grid-template-columns: 320px minmax(0, auto);
	grid-template-rows: 1fr auto auto;
	margin: 0 auto;
	max-width: 1420px;
	grid-gap: 2rem !important;
	padding: 2rem !important;
	box-sizing: border-box;
}

body > header {
	grid-area: header;
}

body > footer {
	grid-area: footer;
}

body > main {
	grid-area: main;
	word-wrap: break-word;
}

body > aside {
	grid-area: aside;
}

@media (max-width: 768px) {
	body {
		grid-template-areas: "header header" "aside aside" "main main" "footer footer";
		grid-template-columns: 1fr;
		grid-auto-rows: auto auto auto;
	}
}


@media print {
	body {
		grid-template-areas: "main" "footer";
		grid-template-columns: 1fr;
	}

	header, aside {
		display: none;
	}

}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

aside .list-group-item svg {
	margin-right: .5rem;
}

code.language-bash:before {
	content: "$";
	display: inline-block;
	user-select: none;
	padding-right: 1em;
	color: #f92672 !important;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
}

pre, code.language-text {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: rgb(35, 36, 31);
	color: #f8f8f2;
}

h1 {
	margin-bottom: 2rem;
}

footer > p {
	margin-bottom: 0;
}

a.btn-copy, a.btn-copy:hover {
	color: #dee2e6;
	position: absolute;
	user-select: none;
	padding: 8px 10px;
	font-size: smaller;
	right: 0;
	top: 0;
}

/* index (homepage) */

body pre {
	border-radius: .5em;
	font-size: 1.1rem;
	margin: 1rem 0;
}